/*
 *
 * COMMON STYLING
 *
 */

html, body {
    height: 100%;
    min-height: 100%;
}

/* SET HOVERABLE */
.hoverable {
    transition-duration: 0.3s;
    transition-property: padding-right, opacity, color;
}

.hoverable:hover {
    color: var(--secondary);
}

/*
 *
 * EXTRA SMALL SCREENS
 *
 */
@media screen and (max-width: 501px) {
    /* HEADER STYLING */
    header {
        background-color: whitesmoke;

        padding: 25px 50px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;

        display: none;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .sub-header-flex-item {
        color: var(--primary);
    }

    .sub-header-flex-item b {
        color: var(--secondary);

        font-weight: bold;
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
    }

    #title {
        color: var(--primary);
    }

    .nav-flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-flex-item {
        color: var(--primary);

        font-size: 16px;
    }

    .nav-flex-item:last-child {
        margin-top: 0;
    }

    .current-link {
        color: var(--secondary);
        border-style: unset;
    }

    .non-current-link {
        color: var(--primary);
    }

    /* BODY STYLING */
    .body-flex-container {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 0 50px 50px;
        background-color: whitesmoke;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 20px;

        color: var(--primary);
    }

    .sub-body-flex-item:first-child {
        flex: 1 1;

        border: 4px solid var(--primary);
    }

    .sub-body-flex-item:last-child {
        flex: 1 1;
    }

    .bio {
        order: 2;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        row-gap: 20px;

        line-height: 2;
        padding: 20px;
    }

    .bio p {
        font-size: 15px;
        font-weight: 500;
    }

    .socials-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 5px;
        color: var(--secondary);
    }

    .socials-flex-container h2 {
        color: var(--primary);
        font-size: 16px;
    }

    .socials-flex-container a {
        color: var(--primary);
    }

    .socials-flex-item {
        font-size: 15px;
        font-weight: 500;
    }

    .headshot {
        order: 2;
    }

    .headshot img {
        height: 100%;
        width: 100%;

        object-fit: contain;
    }

    .vert {
        display:none;
    }
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (min-width: 501px) and (max-width: 800px) {
    /* HEADER STYLING */
    header {
        background-color: whitesmoke;

        padding: 25px 50px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;

        display: none;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .sub-header-flex-item {
        color: var(--primary);
    }

    .sub-header-flex-item b {
        color: var(--secondary);

        font-weight: bold;
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {

    }

    #title {
        color: var(--primary);
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .nav-flex-item {
        color: var(--primary);
        font-size: 16px;

        margin-left: 15px;
    }

    .current-link {
        color: var(--secondary);
        padding-right: 4px;
        border-style: unset;
    }

    .non-current-link {
        color: var(--primary);
    }

    /* BODY STYLING */
    .body-flex-container {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 0 50px 50px;
        background-color: whitesmoke;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 20px;

        color: var(--primary);
    }

    .sub-body-flex-item:first-child {
        flex: 1 1;

        border: 4px solid var(--primary);
    }

    .sub-body-flex-item:last-child {
        flex: 1 1;
    }

    .bio {
        order: 2;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        row-gap: 20px;

        line-height: 2;
        padding: 20px;
    }

    .bio p {
        font-size: 15px;
        font-weight: 500;
    }

    .socials-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 5px;
        color: var(--secondary);
    }

    .socials-flex-container h2 {
        color: var(--primary);
        font-size: 16px;
    }

    .socials-flex-container a {
        color: var(--primary);
    }

    .socials-flex-item {
        font-size: 15px;
        font-weight: 500;
    }

    .headshot {
        order: 2;
    }

    .headshot img {
        height: 100%;
        width: 100%;

        object-fit: contain;
    }

    .vert {
        display:none;
    }
}

/*
 *
 * MEDIUM SCREENS
 *
 */
@media screen and (min-width: 801px) and (max-width: 1106px) {
    /* HEADER STYLING */
    header {
        background-color: whitesmoke;

        position: fixed;
        width: 285px;
        padding-left: 50px;
        padding-right: 50px;
        min-height: 320px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        color: var(--primary);
        text-align: right;
    }

    .sub-header-flex-item b {
        color: var(--secondary);
    }

    #title {
        color: var(--primary);
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .current-link {
        color: var(--secondary);
        padding-right: 4px;
        border-style: unset;
    }

    .non-current-link {
        color: var(--primary);

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: var(--secondary);
    }

    .nav-flex-item a:hover {
        padding-right: 4px;
        border-style: unset;
    }

    .sub-header-flex-container:last-child {
        row-gap: 5px;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        text-align: right;
        color: var(--secondary);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: var(--primary);
    }

    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row nowrap;

        min-height: 100%;

        padding: 25px 25px 25px 50px;
    }

    .body-flex-item {
    }

    .body-flex-item:first-child {
        flex: 0 0 235px;
    }

    .body-flex-item:last-child {
        flex: 1 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: center;
        row-gap: 20px;

        padding: 20px;
        background-color: whitesmoke;
    }

    .sub-body-flex-item:first-child {
        flex: 1 1;

        border: 4px solid var(--primary);
    }

    .sub-body-flex-item:last-child {
        flex: 1 1;
    }

    .bio {
        order: 1;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 20px;

        line-height: 2;
        padding: 40px;
    }

    .bio p {
        font-size: 15px;
        font-weight: 500;
    }

    .socials-flex-container {
        display: none;
    }

    .headshot {
        order: 2;
    }

    .headshot img {
        height: 100%;
        width: 100%;

        object-fit: contain;
    }

    .vert {
        display:none;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 1107px) {
    /* HEADER STYLING */
    header {
        background-color: whitesmoke;

        position: fixed;
        width: 285px;
        padding-left: 50px;
        padding-right: 50px;
        min-height: 320px;
        height: 100%;

        z-index: 100;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        color: var(--primary);
        text-align: right;
    }

    .sub-header-flex-item b {
        color: var(--secondary);
    }

    #title {
        color: var(--primary);
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .current-link {
        color: var(--secondary);
        padding-right: 4px;
        border-style: unset;
    }

    .non-current-link {
        color: var(--primary);

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: var(--secondary);
    }

    .nav-flex-item a:hover {
        padding-right: 4px;
        border-style: unset;
    }

    .sub-header-flex-container:last-child {
        row-gap: 5px;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        text-align: right;
        color: var(--secondary);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: var(--primary);
    }

    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row nowrap;

        min-height: 100%;

        padding: 25px 25px 25px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        flex: 0 0 235px;
        z-index: 1;
    }

    .body-flex-item:last-child {
        z-index: 100;
        flex: 1 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        padding: 20px;
        background-color: whitesmoke;
    }

    .sub-body-flex-item:first-child {
        flex: 0 4 564px;
    }

    .sub-body-flex-item:last-child {
        flex: 0 5 350px;
    }

    .bio {
        order: 1;
        z-index: 100;

        display: flex;
        flex-flow: column nowrap;
        row-gap: 20px;

        line-height: 2;
        padding: 40px;
        border: 4px solid var(--primary);
    }

    .bio p {
        font-size: 15px;
        font-weight: 500;
    }

    .socials-flex-container {
       display: none;
    }

    .headshot {
        order: 2;
        /*padding: 10px;*/
    }

    .headshot img {
        object-fit: cover;
    }

    .horiz {
        display: none;
    }
}