.bio-image {
    max-height: 180px;
}

.bio-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.main-flex-container {
    row-gap: 20px;
}

.main-flex-row {
    flex: 0 1 600px;

    display: flex;
    flex-flow: row nowrap;

    column-gap: 20px;
}