/*
 *
 * COMMON STYLING
 *
 */

html, body {
    height: 100%;
    min-height: 100%;
}

/* SET HOVERABLE */
.hoverable {
    transition-duration: 0.3s;
    transition-property: padding-right, opacity, color;
}

.hoverable:hover {
    color: var(--secondary);
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 950px) {
    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 10px 25px;
        background-color: whitesmoke;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content:flex-start;
        align-items: center;
        gap: 20px;

        color: var(--primary);
    }

    .sub-body-flex-item:first-child {
        flex: 1 1 45%;
    }

    .sub-body-flex-item:last-child {
        flex: 1 1 45%;
    }

    .bio {
        order: 1;
        z-index: 100;

        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;

        padding-right: 10px;
        line-height: 2;
    }

    .headshot {
        order: 2;
    }

    .headshot img {
        object-fit: cover;
    }

    .socials {
        order: 3;

        display: flex;
        flex-flow: column nowrap;
        color: var(--secondary);
        padding-top: 10px;
    }

    .socials h2 {
        color: var(--primary);
        margin-bottom: 10px;
    }

    .socials a {
        color: var(--primary);
    }

    .vert {
        display:none;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */
@media screen and (min-width: 951px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row nowrap;

        min-height: 100%;

        padding: 25px 25px 25px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        flex: 0 0 235px;
    }

    .body-flex-item:last-child {
        z-index: 100;
        flex: 1 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        padding: 20px;
        background-color: whitesmoke;
    }

    .sub-body-flex-item:first-child {
        flex: 1 1 50%;
    }

    .sub-body-flex-item:last-child {
        flex: 1 1 50%;
    }

    .bio {
        order: 1;
        z-index: 100;

        display: flex;
        flex-flow: column nowrap;
        row-gap: 20px;

        line-height: 2;
        padding: 40px;
    }

    .socials {
       display: none;
    }

    .headshot {
        order: 2;
    }

    .headshot img {
        object-fit: cover;
    }

    .horiz {
        display: none;
    }
}