
#project-testimonials {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 22px;
    border-left: solid 2px var(--primary);
}

#project-testimonials h5 {
    margin-top: 10px;
}

.content-flex-item ul {
    padding-left: 15px;
}

.content-flex-item li {
    text-align: left;
    text-align-last: left;
    font-family: 'Arvo', serif;
    font-size: 11px;
    margin-bottom: 4px;
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 950px) {
    .main-flex-row {
        flex: 0 1 600px;

        display: flex;
        flex-flow: column nowrap;

        row-gap: 10px;
    }

    #project-overview {
        margin-top: 10px;
    }

    #project-strategy {
        margin-top: 10px;
    }

    #project-testimonials {
        margin-top: 10px;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 951px) {
    .main-flex-container {
        row-gap: 20px;
        align-items: center;

        padding-left: 20px;
        padding-right: 20px;
    }

    .main-flex-row {
        flex: 0 1 1000px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        column-gap: 20px;
    }

    .media-container {
        flex: 1 1 60%;
    }

    .content-container {
        flex: 1 1 40%;
    }

    #project-overview {
        margin-top: 15px;
    }

    #project-strategy {
        margin-top: 15px;
    }
}