/*
 *
 * COMMON STYLING
 *
 */

b {
    color: var(--secondary);
}

/* SECTION STYLING */
.sub-body-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    margin-top: 20px;
    margin-bottom: 20px;
    column-gap: 20px;
    background-color: whitesmoke;
}

.sub-body-flex-item {
    flex: 1 1 100%;
}

#project-title {
    flex: 1 1 100%;
}

#project-role{
    margin-top: 5px;
    flex: 1 1 100%;
}

#project-brief {
    margin-top: 5px;
}

#project-strategy {
    margin-top: 5px;
}

.media-container {
    background-color: whitesmoke;
}

.content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content-flex-item {
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);

    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 4px;
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 950px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 0 25px 25px;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        margin: 10px 0 0;
        padding: 0;
        background-color: whitesmoke;
    }

    .media-container {
        flex: 1 1 100%;
    }

    .content-container {
        flex: 1 1 100%;

        margin-top: 20px;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */
@media screen and (min-width: 951px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        position: fixed;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        padding: 25px 25px 25px 50px;
        min-height: 320px;
        height: 100%;
    }

    .body-flex-item {
    }

    .body-flex-item:nth-child(1) {
        flex: 0 1 200px;
    }

    .body-flex-item:nth-child(2) {
        flex: 1 0;
    }

    .media-container {
        flex: 1 1 65%;
    }

    .content-container {
        flex: 1 1 30%;
    }
}