#project-brief {
    margin-top: 15px;
}

#project-strategy {
    margin-top: 15px;
}

.content-flex-item ul {
    padding-left: 15px;
}

.content-flex-item li {
    text-align: left;
    text-align-last: left;
    font-family: 'Arvo', serif;
    font-size: 11px;
    margin-bottom: 4px;
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 950px) {
    .main-flex-row {
        flex: 0 1 600px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 10px;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 951px) {
    .main-flex-container {
        row-gap: 20px;
    }

    .main-flex-row {
        flex: 0 1 1000px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        column-gap: 30px;
    }

    .media-container {
        flex: 1 1 30%;
    }

    .content-container {
        flex: 3 1 40%;
    }
}