/*
 *
 * COMMON STYLING
 *
 */

/* SET HOVERABLE */
.hoverable {
    transition-duration: 0.3s;
    transition-property: padding-right, opacity, color;
}

.hoverable:hover {
    color: var(--secondary);
}

b {
    color: var(--secondary);
}

img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.film-title {
    font-family: Overpass, sans-serif;
}

/*
 *
 * SMALL SCREENS
 *
 */

@media screen and (max-width: 950px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row wrap;
        align-items: stretch;

        padding: 10px 25px;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: space-around;
    }

    .section-flex-item {
        scale: 0.9;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;

        will-change: transform;
        transform-origin: center;

        --x: 0px;
        --y: 0px;


        transform: translate(var(--x), var(--y));
        transition: transform 0.3s ease;
    }

    .section-media {
        will-change: transform;
        transform-origin: center;

        --s: 1;

        transform: scale(var(--s));
        transition: transform 0.3s ease;
    }

    .section-content {
        padding-left: 20px;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */

@media screen and (min-width: 951px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 25px 25px 25px 50px;
    }

    .body-flex-item {
    }

    .body-flex-item:nth-child(1) {
        flex: 0 1 200px;
    }

    .body-flex-item:nth-child(2) {
        flex: 1 0;
    }

    /* SECTION STYLING */
    .section-flex-container {
        padding: 20px;

        display: flex;
        flex-flow: row wrap;
        column-gap: 50px;
        row-gap: 25px;
        justify-content: space-around;
    }

    .section-flex-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;

        will-change: transform;
        transform-origin: center;

        --x: 0px;
        --y: 0px;


        transform: translate(var(--x), var(--y));
        transition: transform 0.3s ease;
    }

    .section-media {
        will-change: transform;
        transform-origin: center;

        --s: 1;

        transform: scale(var(--s));
        transition: transform 0.3s ease;
    }

    .section-content {
        padding-left: 20px;
    }
}