/*
 *
 * MAIN LAYOUT — shared across all content pages
 *
 */

html, body {
    height: 100%;
    min-height: 100%;
}

.main-flex-container {
    flex: 1 1 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.push-right {
    margin-left: auto;
    display: block;
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 950px) {
    .body-flex-container {
        display: flex;

        padding: 10px 25px;
    }

    .main-flex-container {
        row-gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-flex-row {
        column-gap: 10px;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */
@media screen and (min-width: 951px) {
    .body-flex-container {
        display: flex;
        flex-flow: row nowrap;

        min-height: 100%;
        padding: 25px 25px 25px 50px;
    }

    .body-flex-item:first-child {
        flex: 0 0 235px;
    }

    .main-flex-container {
        margin: 20px;

        align-items: center;
    }
}