/*
 *
 * COMMON STYLING
 *
 */

/* SET HOVERABLE */
.hoverable {
    transition-duration: 0.3s;
    transition-property: padding-right, opacity, color;
}

.hoverable:hover {
    color: var(--secondary);
}

b {
    color: var(--secondary);
}

/* SECTION STYLING */
.sub-body-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
}

.sub-body-flex-item {
    flex: 1 1 100%;
}

#film-title {
    flex: 1 1 50%;

    margin-top: 20px;
}

#film-release {
    flex: 0 1 50%;

    margin-top: 20px;

    text-align: right;
}

#film-role{
    flex: 1 1 auto;
}

#film-description {
    flex: 0 1 auto;
}

#film-cast {
    margin-top: 5px;
}

#film-logline {
    margin-top: 5px;
}

.extra-content {
    margin-top: 5px;
}

#film-festivals {
    margin-top: 20px;
    text-align: left;
}

.festivals-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: space-around;

    margin-top: 10px;
}

.festival {
    flex: 1 1 auto;
    text-align: left;
}

.festival-break {
    flex: 1 1;
}

.festival-break {
    flex: 1 1;
}

.media-container {
    background-color: whitesmoke;
}

#film-screener-request {
    flex: unset;
    margin-top: 30px;
    margin-bottom: 15px;
}

#film-screener-request a h4 {
    color: var(--primary);

    background-color: whitesmoke;
    border-radius: 6px;
    border: 2px solid var(--primary);

    padding: 10px;

    text-align: center;

    transition-duration: 0.4s;
}

#film-screener-request a h4:hover {
    color: whitesmoke;

    background-color: var(--primary);

    padding: 10px;

    text-align: center;
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (max-width: 900px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 0 25px 25px;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        margin: 10px 0 0;
        padding: 0;
        background-color: whitesmoke;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */
@media screen and (min-width: 901px) {
    /* BODY STYLING */
    .body-flex-container {
        color: var(--primary);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 25px 25px 25px 50px;
    }

    .body-flex-item {
    }

    .body-flex-item:nth-child(1) {
        flex: 0 1 235px;
    }

    .body-flex-item:nth-child(2) {
        flex: 1 0;
    }
}